body {

    background-color: pink;

}

.toTopWrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 1em;

}

.menuWrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 1em;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}