body {

    color: rgb(255, 255, 0);
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    background-color: rgb(42, 42, 99);
    padding: 20px;
}

pageWrapper {

    border: 10px dotted green;
    padding: 120px
}

article {

    border: 7px solid purple;
    padding: 1em;
    margin-bottom: 50px;
    margin: 0px auto 2em auto;
    background-color: orange rgba (255, 127, 127, 0.85);
    max-width: 60ch;

}

#p5Wrapper {

    position: fixed;
    inset: 0;
    pointer-events: none;

}

.gridWrapper {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}



.gridWrapper>div {

    border: 1px red
}


.gridWrapper>div>img {

    object-fit: contain;
    max-width: 100%;
    max-height: 100%;


}

.toTopWrapper {
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 1em;

}

.menuWrapper {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 1em;
}

.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
